.person-item {
  background-color: #fff;
  border: 1px solid var(--outline);
  border-radius: 4px;
  padding: 2rem;

  max-width: 27%;
  min-width: 260px;
  flex: 1;
  margin-bottom: 16px;

  transition: 0.2s;
  cursor: pointer;

  font-weight: 400;
}

.person-item:hover {
  transform: translate(-2px, -2px);
  box-shadow: 4px 4px 10px var(--outline);
}

.person-head {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.person-head-edit {
  padding: 4px;
  border-radius: 4px;
  opacity: 0;
  transition: 0.25s;
}

.person-item:hover .person-head-edit {
  opacity: 1;
  background-color: var(--outline);
}

.person-head-info {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 16px;
}

.person-head-name > p {
  margin: 0;
  padding: 0;
}

.text-name {
  font-weight: 600;
  font-size: 1.1rem;
}

.text-info {
  display: flex;
  align-items: center;
  gap: 4px;
  color: var(--text);
  margin: 0px 0px 4px 0px;
}

.tags {
  margin: 8px 0px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 600;
  font-size: 0.8rem;
}
.tag {
  margin: 0px;
  padding: 4px 10px;
  background-color: var(--primary-light);
  border-radius: 4px;
}

.nationality {
  background-color: var(--teartiary);
}
